.brown{
    width: 100%;
    height: 100px;
    background-color: brown;
}
.purple{
    width: 100%;
    height: 500px;
    background-color: purple;
}
.red{
    width: 100%;
    height: 100px;
    background-color: red;
}